@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body,
#app{
  width: 100%;
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
